<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955024287357-9nqr8qab6epcfco1ka1b5dniahveifs1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955024287357-9nqr8qab6epcfco1ka1b5dniahveifs1</string>
	<key>API_KEY</key>
	<string>AIzaSyA2FbQIzXEuQqvr1aNFwg2b3KX1V7IIEdI</string>
	<key>GCM_SENDER_ID</key>
	<string>955024287357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michaellchiming.project</string>
	<key>PROJECT_ID</key>
	<string>calhakcs</string>
	<key>STORAGE_BUCKET</key>
	<string>calhakcs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955024287357:ios:110db1a2323e954504f314</string>
	<key>DATABASE_URL</key>
	<string>https://calhakcs.firebaseio.com</string>
</dict>
</plist>